<% content_for :title do %>About<% end %>
<h3>About the Site</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore assumenda enim nihil iure nobis molestias voluptatem nam illum sunt sint suscipit, beatae quos cum inventore, error corrupti numquam ea temporibus!</p>

<p>Here is a quotation:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A itaque aspernatur repudiandae quae, mollitia perspiciatis quia omnis suscipit possimus similique odit amet aperiam veniam eius nesciunt temporibus, ipsum at ipsam.</p>