# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 36147243a5cab37b244bc915977199e02c10e0641d28c473f74a9c22fa0933620f606f471671a4bed881255354cf9763c3fb10d1fadd60f44606f834caf69d96
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  mailchimp_api_key: <%= ENV["MAILCHIMP_API_KEY"] %>
  mailchimp_list_id: <%= ENV["MAILCHIMP_LIST_ID"] %>
  domain_name: example.com
  owner_email: <%= ENV["OWNER_EMAIL"] %>
  

test:
  secret_key_base: eb21dfedaeac8dd0881045adc559602041cb7ebb38cc8824632d1d4583ffdf248230a012670b4bf2c2fc4ec9c1f4a48f377cdf266837a9425aad2c052d4cdd94

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
    email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
    email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
    mailchimp_api_key: <%= ENV["MAILCHIMP_API_KEY"] %>
    mailchimp_list_id: <%= ENV["MAILCHIMP_LIST_ID"] %>
    domain_name: example.com
    owner_email: <%= ENV["OWNER_EMAIL"] %>
